/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

  .weather .icon, .weather .info {
    float: left;
  }
  
  .weather .info {
    list-style: none;
    margin: 7px 0 0 18px;
  }
	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}
